html {
    height: 100%;
}

body {
    background: url('/media/header.jpg') no-repeat center 150px;
    background-size: contain;
    height: calc(100vh - 164px);
    font-family: 'Roboto';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: Pacifico;
    font-size: xxx-large;
}

.nav-font {
    text-transform: uppercase;
    color: #26690F;
}

.main-logo-link {
    width: fit-content;
}

.btn-green {
    background: #26690F;
    color: white;
}

.shop-now-button {
    background: #26690F;
    color: white;
    text-align: center;
    line-height: 75px;
    min-width: 200px;
    min-height: 200px;
    position: relative;
    left: 660px;
    top: 380px;
    font-size: xxx-large;
    padding-top: 20px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: white;
    color: #26690F;
    border: 1px solid #26690F;
}

.btn-outline-green {
    background: white;
    color: #26690F !important; /* use important to override link colors for <a> elements */
    border: 1px solid #26690F;
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background: #26690F;
    color: white !important;
}

.text-green {
    color:#26690F !important;
}

.border-green {
    border: 1px solid #26690F !important;
}

/* Eventuellt ta bort detta om jag gör om bakgrunden, i products.html, product_detail, bag.html*/
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/*card-img-top: With helpful solution from stack overflow: https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width*/

.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: contain;
}

.link-style {
    color: #26690F;
    text-decoration: none;
    font-size: 1rem;
}

.link-style:hover{
    color: #EBEBEB;
    text-decoration: none;
    background-color: #26690F; 
    font-size: 1rem;
}

.header-container {
    padding-top: 164px;
}

a.category-badge > span.badge:hover {
    background: #26690F !important;
    color: #fff !important;
}


.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (max-width: 991px) {
    body {
        background: url('/media/header.jpg') no-repeat center 75px;
        background-size: 50em; 
    }

    .text-center {
        font-size: 10px;
    }  

    .shop-now-button {
    line-height: 25px;
    min-width: 100px;
    min-height: 100px;
    left: 130px;
    top: 230px;
    font-size: large;
    padding-top: 25px;
    }

    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}