html {
    height: 100%;
}

body {
    background: url('/media/header.jpg') no-repeat center 150px;
    background-size: contain;
    font-family: 'Roboto'; 
}

.shop-now-button {
    background: #26690F;
    color: white;
    text-align: center;
    line-height: 75px;
    min-width: 200px;
    min-height: 200px;
    position: relative;
    left: 660px;
    top: 380px;
    font-size: xxx-large;
    padding-top: 20px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: rgb(98, 160, 77);
    color: white;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: Pacifico;
    font-size: xxx-large;
}

.nav-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.btn-green {
    background: #26690F;
    color: white;
}

.text-green {
    color:#26690F !important;
    color: white;
}

.border-green {
    border: 1px solid #26690F !important;
}

/* Eventuellt ta bort detta om jag gör om bakgrunden, i products.html, product_detail*/
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/*card-img-top: With helpful solution from stack overflow: https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width*/

.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: contain;
}

/* -------------------------------- Media Queries */

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    body {
        background: url('/media/header.jpg') no-repeat center 75px;
        background-size: 50em;
        font-family: 'Roboto';  
    }

    .text-center {
        font-size: 10px;
    }  

    .shop-now-button {
    line-height: 25px;
    min-width: 100px;
    min-height: 100px;
    left: 130px;
    top: 230px;
    font-size: large;
    padding-top: 25px;
    }

    .header-container {
        padding-top: 100px;
    }
}