<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-green mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-green mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Tops</a>
                <a href="" class="dropdown-item">T-shirts</a>
                <a href="" class="dropdown-item">Riding breeches</a>
                <a href="" class="dropdown-item">Riding Jackets</a>
                <a href="" class="dropdown-item">Riding gloves</a>
                <a href="" class="dropdown-item">Riding helmets</a>
                <a href="" class="dropdown-item">Body protectors</a>
                <a href="" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-green mr-5" href="#" id="horse-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Horse
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="horse-link">
                <a href="" class="dropdown-item">Bridles</a>
                <a href="" class="dropdown-item">Bits</a>
                <a href="" class="dropdown-item">Saddles</a>
                <a href="" class="dropdown-item">Halters</a>
                <a href="" class="dropdown-item">All Horse</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-green" href="#" id="grooming-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Grooming
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="grooming-link">
                <a href="" class="dropdown-item">Grooming kit</a>
                <a href="" class="dropdown-item">Fur care</a>
                <a href="" class="dropdown-item">Farriery</a>
                <a href="" class="dropdown-item">Medical care</a>
                <a href="" class="dropdown-item">Leather care</a>
                <a href="" class="dropdown-item">All Grooming</a>
            </div>
        </li>
    </ul>
</div>